.App {
  text-align: center;
  width: 600px;
  height: 600px;
  background-color: blanchedalmond;

}

.lists{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Should-I-Eat-at-McDonalds{
  width: 100%;
  height: 100px;
  background-color: darkcyan;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 2px;
}
